.navbar{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.navBrandSearch{
    display: flex;
    align-items: center;
}
.searchForm{
    display: flex;
    align-items: center;
    position: relative;
}
.searchBtn{
    background-color: #EE4D2D;
    color: white;
    border: 1px solid #EE4D2D;
}
.searchBtn:hover{
    background-color: #ce2402;
    color: white;
    border: 1px solid #ce2402;
}

.navBrandSearch h3{
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-right: 15px;
}
.navBrandSearch h3 span{
    color: orangered;
}
.searchInput{
    height: 45px;
    width: 300px;
    border-radius: 10px;
    padding: 0px 10px;
    margin-right: -85px;
    border: 1px solid black;
}

.searchResult{
    background-color: #fff;
    position: absolute;
    padding: 0px;
    width: 100%;
    top: 100%;
    left: 0;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #cdcdcd; 
    cursor: pointer;
    z-index: 999;
}

.searchResultLink{
    list-style: none;
    padding: 5px 10px;
}
.searchResultLink:hover, .activesuggestion{
    background-color: #e3e3e3;
}

.searchResultLink a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.nav-links{
    display: flex;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.nav-items a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.nav-items a:hover{
    color: rgb(101, 101, 101);
}
.nav-items img{
    height:25px;
}

.nav-items .active{
    font-weight: 700;
}

.carts{
    display: flex;
    align-items: center;
}
.cartCount{
    margin-left: 5px;
    background: orangered;
    color: white;
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 14px;
}