.feturedProds{
    background-color: white;
    color: black;
    padding: 50px 10%;
}
.featureTitle{
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 45px;
    margin-bottom: 50px;
}